.nav {
    background-color: #8D8D92;
    border-radius: 2em;
    height: 1em;
    margin-bottom: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

li {
    float: right;
    font-size: small;
    padding: 2em;
    color: #fff;
}

li a {
    display: block;
    color: rgb(229, 226, 226);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}